*.pyc
\venv\
venv\
/venv
venv/Lib/site-packages/_distutils_hack/__init__.py
venv/Lib/site-packages/_distutils_hack/override.py
venv/Lib/site-packages/_mysql_connector.cp310-win_amd64.pyd
venv/Lib/site-packages/blinker-1.9.0.dist-info/INSTALLER
venv/Lib/site-packages/blinker-1.9.0.dist-info/LICENSE.txt
venv/Lib/site-packages/blinker-1.9.0.dist-info/METADATA
venv/Lib/site-packages/blinker-1.9.0.dist-info/RECORD
venv/Lib/site-packages/blinker-1.9.0.dist-info/WHEEL
venv/Lib/site-packages/blinker/__init__.py
venv/Lib/site-packages/blinker/_utilities.py
venv/Lib/site-packages/blinker/base.py
venv/Lib/site-packages/blinker/py.typed
venv/Lib/site-packages/click-8.2.1.dist-info/INSTALLER
venv/Lib/site-packages/click-8.2.1.dist-info/licenses/LICENSE.txt
venv/Lib/site-packages/click-8.2.1.dist-info/METADATA
venv/Lib/site-packages/click-8.2.1.dist-info/RECORD
venv/Lib/site-packages/click-8.2.1.dist-info/WHEEL
venv/Lib/site-packages/click/__init__.py
venv/Lib/site-packages/click/_compat.py
venv/Lib/site-packages/click/_termui_impl.py
venv/Lib/site-packages/click/_textwrap.py
venv/Lib/site-packages/click/_winconsole.py
venv/Lib/site-packages/click/core.py
venv/Lib/site-packages/click/decorators.py
venv/Lib/site-packages/click/exceptions.py
venv/Lib/site-packages/click/formatting.py
venv/Lib/site-packages/click/globals.py
venv/Lib/site-packages/click/parser.py
venv/Lib/site-packages/click/py.typed
venv/Lib/site-packages/click/shell_completion.py
venv/Lib/site-packages/click/termui.py
venv/Lib/site-packages/click/testing.py
venv/Lib/site-packages/click/types.py
venv/Lib/site-packages/click/utils.py
venv/Lib/site-packages/colorama-0.4.6.dist-info/INSTALLER
venv/Lib/site-packages/colorama-0.4.6.dist-info/licenses/LICENSE.txt
venv/Lib/site-packages/colorama-0.4.6.dist-info/METADATA
venv/Lib/site-packages/colorama-0.4.6.dist-info/RECORD
venv/Lib/site-packages/colorama-0.4.6.dist-info/WHEEL
venv/Lib/site-packages/colorama/__init__.py
venv/Lib/site-packages/colorama/ansi.py
venv/Lib/site-packages/colorama/ansitowin32.py
venv/Lib/site-packages/colorama/initialise.py
venv/Lib/site-packages/colorama/tests/__init__.py
venv/Lib/site-packages/colorama/tests/ansi_test.py
venv/Lib/site-packages/colorama/tests/ansitowin32_test.py
venv/Lib/site-packages/colorama/tests/initialise_test.py
venv/Lib/site-packages/colorama/tests/isatty_test.py
venv/Lib/site-packages/colorama/tests/utils.py
venv/Lib/site-packages/colorama/tests/winterm_test.py
venv/Lib/site-packages/colorama/win32.py
venv/Lib/site-packages/colorama/winterm.py
venv/Lib/site-packages/comerr64.dll
venv/Lib/site-packages/contourpy-1.3.2.dist-info/INSTALLER
venv/Lib/site-packages/contourpy-1.3.2.dist-info/LICENSE
venv/Lib/site-packages/contourpy-1.3.2.dist-info/METADATA
venv/Lib/site-packages/contourpy-1.3.2.dist-info/RECORD
venv/Lib/site-packages/contourpy-1.3.2.dist-info/WHEEL
venv/Lib/site-packages/contourpy/__init__.py
venv/Lib/site-packages/contourpy/_contourpy.cp310-win_amd64.lib
venv/Lib/site-packages/contourpy/_contourpy.cp310-win_amd64.pyd
venv/Lib/site-packages/contourpy/_contourpy.pyi
venv/Lib/site-packages/contourpy/_version.py
venv/Lib/site-packages/contourpy/array.py
venv/Lib/site-packages/contourpy/chunk.py
venv/Lib/site-packages/contourpy/convert.py
venv/Lib/site-packages/contourpy/dechunk.py
venv/Lib/site-packages/contourpy/enum_util.py
venv/Lib/site-packages/contourpy/py.typed
venv/Lib/site-packages/contourpy/typecheck.py
venv/Lib/site-packages/contourpy/types.py
venv/Lib/site-packages/contourpy/util/__init__.py
venv/Lib/site-packages/contourpy/util/_build_config.py
venv/Lib/site-packages/contourpy/util/bokeh_renderer.py
venv/Lib/site-packages/contourpy/util/bokeh_util.py
venv/Lib/site-packages/contourpy/util/data.py
venv/Lib/site-packages/contourpy/util/mpl_renderer.py
venv/Lib/site-packages/contourpy/util/mpl_util.py
venv/Lib/site-packages/contourpy/util/renderer.py
venv/Lib/site-packages/cycler-0.12.1.dist-info/INSTALLER
