[Unit]
Description=CyraCRIS Flask (Cyra)
After=network.target

[Service]
User=www-data
Group=www-data
WorkingDirectory=/data/CyraCRIS/
# EnvironmentFile=/etc/cyracris.env
# Ajuste o caminho do Python do seu venv:
ExecStart=/data/CyraCRIS/venv/bin/gunicorn -b 0.0.0.0:5000 app:app
Restart=on-failure
RestartSec=5
# Hardening (opcional, pode afrouxar se precisar de escrita fora >
NoNewPrivileges=true
PrivateTmp=true
ProtectSystem=full
ProtectHome=true

[Install]
WantedBy=multi-user.target
